<!doctype html>
<html>
<head>
    <meta charset="utf-8" ></meta>
	<title>citizen311</title>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB31mjMaXNA33VUKwCndXANCkbgULTyY2k&sensor=false"></script>
    <!--script type="text/javascript" src="js/faker.js"></script>
    <script type="text/javascript" src="js/mustache.js"></script>
    <script type="text/javascript" src="js/seed.js"></script-->
    <script type="text/javascript" src="static/js/application.js"></script>
    <!--link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/-->
</head>
<body>
    {% block content %}

    {% endblock %}
<a href="signup.html">Sign Up</a>
<a href="lookup.html">Look Up a Report</a>
</body>
</html>