<!DOCTYPE html>
<html>
<head>
    <title>Welcome to citizen311</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/main.css" %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href= "{% static "css/whhg.css" %}">
    <script src="{% static "js/jQueryv2.0.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pxgradient-1.0.2.jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/underscore.js" %}"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB31mjMaXNA33VUKwCndXANCkbgULTyY2k&sensor=false"></script>
    <script type="text/javascript" src= "{% static "js/application.js" %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]> <script src="../../assets/js/html5shiv.js"></script> <script src="../../assets/js/respond.min.js"></script> <![endif]-->
</head>
<body>
    <!--map-->
    <div id="map_canvas" class="map"></div>
    <!--/map-->
        <!--Content-->
        <div class="col-md-11 side-bar" id="cont">
             <!--Map open (for adaptive)-->
            <div class="row map_open">
                <div class="col-md-12">
                    <a href="#" id="map_open">Show map</a>
                </div>
            </div>
              <!--/Map open (for adaptive)-->
            <!--Category menu-->
            <div class="row">
                <div class="logo">
                    <a href="/"><h1>citizen311</h1></a>
                </div>
                <div class="col-md-12">
                    <div id="tabs">
                        <div id="tab1" class="active tab">
                            <h5 class="cat">Narrow down your search by type...</h5>
                            <ul class="catalog">
                                <li>
                                    <span class='checkboxes-span category' name="Street and Sidewalk Cleaning">Street and Sidewalk Cleaning</span>
                                </li>
                                <li>
                                    <span class='checkboxes-span category' name="Graffiti Private Property">Graffiti</span>
                                </li>
                                <li>
                                    <span class='checkboxes-span category' name="Litter Receptacles">Litter Receptacles</span>
                                </li>
                                <li>
                                    <span class='checkboxes-span category' name="Tree Maintenance">Tree Maintenance</span>
                                </li>
                                <li>
                                    <span class='checkboxes-span category' name="Streetlights">Streetlights</span>
                                </li>
                                <li>
                                    <span class='checkboxes-span category' name="Sewer Issues">Sewer Issues</span>
                                </li>
                                <li>
                                    <span class='checkboxes-span category' name="Sign Repair">Sign Repair</span>
                                </li>
                                <li>
                                    <span class='checkboxes-span category' name="Street Defects">Street Defects</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Search by neighborhood-->
            <div>
                <div id="tab2" class="active tab">
                    <h5 class="cat">...or by neighborhood.</h5>
                    <ul class="catalog">
                        <li>
                            <span class='checkboxes-span neighborhood' name="Alamo Square">Alamo Square</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Bayview">Bayview</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Bernal Heights">Bernal Heights</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Castro/Upper Market">Castro/Upper Market</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Downtown/Tenderloin">Downtown/Tenderloin</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Excelsior">Excelsior</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Financial District">Financial District</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Glen Park">Glen Park</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Haight Ashbury">Haight Ashbury</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Hayes Valley">Hayes Valley</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Inner Richmond">Inner Richmond</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Inner Sunset">Inner Sunset</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Mission">Mission</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Nob Hill">Nob Hill</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Noe Valley">Noe Valley</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="North Beach">North Beach</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Outer Richmond">Outer Richmond</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Outer Sunset">Outer Sunset</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Pacific Heights">Pacific Heights</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Portola">Portola</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Potrero Hill">Potrero Hill</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Russian Hill">Russian Hill</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="South of Market">South of Market</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Van Ness/Civic Center">Van Ness/Civic Center</span>
                        </li>
                        <li>
                            <span class='checkboxes-span neighborhood' name="Visitacion Valley">Visitacion Valley</span>
                        </li>

                        {% for i in neighborhood_info %}{% ifchanged %}
                                <!--li>
                                    <span class='checkboxes-span' name="{{ i.neighborhood }}">{{ i.neighborhood }}</span>
                                </li-->
                        {% endifchanged %}{% endfor %}
                    </ul>
                </div>
            </div>
            <!--/Search by neighborhood-->
            <!--/Category menu-->
            <!--Search-->
            <div class="row search_inner_box">
                <div class="col-md-12">
                    {% if user.is_authenticated %}
                    <span class='sendReport'>Don't see it? Report it.</span>
                    <br/>
                    <a href="submit" class="btn btn-danger btn-sm pd-top">Report</a>
                    <br/>
                    <a href="logout" class="btn btn-danger btn-sm pd-top">Log out</a>
                    {% else %}
                    <span class="sendReport">Don't see it? Sign in or sign up to report it.</span>
                    <br/>
                    <a id="signInButton" href="signup" class="btn btn-primary btn-sm pd-top">Sign up or log in</a>
                    {% endif %}
                </div>
            </div>
            <!--/search-->
        </div>
        <!--/Content-->
    </div>
    <script type="text/javascript">
        var markersJson = {{ json|safe }};
    </script>
    <script type="text/javascript" src="{% static "js/map.js" %}"></script>
    <!--Script for worked left smile categories menu-->
    <script type="text/javascript">
        $(document).ready(function () {
                        "use strict";
            $(".inner ul li a").each(function (i) {
                $(".inner ul li a:eq(" + i + ")").click(function () {
                    var tab_id = i + 1;
                    $(".inner ul li a").removeClass("active");
                    $("#tabs .active").removeClass("active");
                    $(this).addClass("active");
                    $("#tabs div").stop(false, false).hide();
                    $("#tab" + tab_id).stop(false, false).show();
                    return false;
                })
            })
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
                        "use strict";
            $("#tabs1 ul li").each(function (i) {
                $("#tabs_point li a:eq(" + i + ")").click(function () {
                    var tab_id = i + 1;
                    $("#tabs_point li a").removeClass("active");
                    $(".tabs_block_point .active").removeClass("active");
                    $(this).addClass("active");
                    $(".tabs_block_point div").stop(false, false).hide();
                    $("#point_tab" + tab_id).stop(false, false).show();
                    return false;
                })
            })
        })
    </script>
</body>
</html>