{% extends '_template.html' %}
{% block content %}
    <h2>Markers Info</h2>
    <script>
        var markers = {{ json|safe }};
        console.log(markers);
        var lat;
        var lng;
        var address;
        var case_id;
        var category;
        var customInfo;
        function getDynamicMap(position) {
            var mapOptions = {
                center: new google.maps.LatLng(37.797677,-122.394339),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            for (var i in markers) {
                var lat = markers[i].fields.latitude;
                var lng = markers[i].fields.longitude;
                var address = markers[i].fields.address;
                var case_id = markers[i].fields.case_id;
                var category = markers[i].fields.category;
                var pk = markers[i].pk - 1;
                var comment = markers[i].fields.comments;
                var customInfo = '<a href="#" onclick="fillCommentsBox('+pk+')">'+category+'</a>';
                //var customInfo = '<a href="http://bootcamp.rocketu.com/exercises/project/reports-page.html$'+complaints[id].case_id+'">'+complaints[id].case_id+'</a>';
                var infoWindow = new google.maps.InfoWindow({
                    content: customInfo
                });
                var	marker = new google.maps.Marker({
                    position: new google.maps.LatLng(lat,lng),
                    map: map,
                    title: customInfo
                   });
                google.maps.event.addListener(marker, 'click', function() {
                    console.log(this.title);
                    infoWindow.setContent(this.title);
                    infoWindow.open(map,this);
                });
            }
        }
        google.maps.event.addDomListener(window, 'load', getDynamicMap);

        function fillCommentsBox(pk) {
            localStorage.id = pk + 1;
//            complaints_id = localStorage.id;
            console.log(localStorage.id);
//            localStorage.id = JSON.stringify($('#complaints').html());
            $('#opened').html(markers[pk].fields.opened);
            $('#status').html(markers[pk].fields.status);
            $('#category').html(markers[pk].fields.category);
            $('#address').html(markers[pk].fields.address);
            console.log(markers[pk].fields.complaints)
        }
// Hides/Shows the anchor tag:
        $(document).ready(function() {
            $('#hidden_button').hide();
            $('#map').click(function() {
                $('#hidden_button').show();
            });
        });

//Gets username and caseid for comments.
//        function getUsernameCaseid() {
//
//        }
//        $('map').click(function() {
//            localStorage.id = pk;
//            console.log(pk)
//        })

//Comments popup box
         function CommentsPopup(){

         }
    </script>

    <div style="width: 600px; float: left; margin-top: 100px">
        <div id="map" style="width: 500px; height: 500px">
        </div>
    </div>
    <div style="width: 400px; height: 500px; float: left; margin-top: 100px; border: 2px solid black; overflow: scroll">
        <ul id="complaints">
            <li id="opened"></li>
            <li id="status"></li>
            <li id="category"></li>
            <li id="address"></li>
        </ul>
        <hr/>
        <ul id="comments">
            <li id="comment"></li>
        </ul>
    </div>
    <div id="hidden_button">
        <a href="enter-comments">Care to Comment?</a>
    </div>


{% endblock %}













